* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    font-size: 1.3;
}

header {
    display: flex;
    background-color: cyan;
    padding: 1%;
}

header h1 {
    color: white;
}

header ul {
    list-style-type: none;   
    margin-left: 75%;
    flex-wrap: wrap;
    
}

header ul li {
    display: inline-block;
}

/* I would like to make my links look better on the right side of my header */

/* also need to add flex to both the hero and header links on the right */

header ul li a {
    text-decoration: none;
}

body, html {
    height: 100%;
}

/* I would like to add another color only in the section behind the hero img */

.hero {
    background-image: url(../images/5a.j.jpg);
    height: 50%;
    width: 25%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; 
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 37.5%;
}

.hero .heroText {
    color: white;
    text-shadow: -3px -3px cyan;
    text-align: center;
    position: absolute;
    top: 75%;
    left: 30%;
}

#my-work {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
}

/* Not sure why flex wasnt working when i applied it up above */

/* need to find a way to center the contents in the card in the middle of the card  */

/* also i would like to make the container itself smaller so i can still display 3 in a row for the full page but without it stretching from side to side */

/* whenever i shrink the page after doing the above mentioned thing there is now way more of a margin on the right side of the page */

.cardContainer {
    display: inline-flex;
    /* display: inline-block; */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    flex-wrap: wrap;
    flex: 1 1 33%;
    max-width: 33%;
    margin: 0 auto;
    
    
}

.cardContainer:hover {
    box-shadow: 0 4px 8px 0 cyan;
}

/* Still need to add hover elements to the cards and then also make them clickable */


@media screen and (max-width: 992px) {
    .cardContainer {
        flex: 1 1 66.3%;
        width: 66.3%;
    }
}


/* as of right now it looks like there is a margin to the whole right side of the page */